.conversion-content-container {
  padding:10px;
  border:1px solid black;
  border-top:0px;
  background-color:white;
  display: flex;
  justify-content:center;
}

.conversion-container {
  font-size: 26px;
  margin-top:50px;
}