.noDecorations {
  text-decoration: none;
  color: black;
}

.header {
  padding:10px;
  border:1px solid black;
  border-top:0px;
  background-color:#B2D6F0;
  display: flex;
  justify-content:center;
}
